<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BLOG">
	<select id="selectList" resultType="blog">
		select blog_seq, title, blog_bdy, insert_dt
		from blog
		order by insert_dt desc
	</select>
	
	<select id="selectListPaging" resultType="blog" parameterType="Pagination">
		select blog_seq, title, blog_bdy, insert_dt
		from (
		    select blog_seq, title, blog_bdy, insert_dt, rownum rn
		    from (
		        select blog_seq, title, blog_bdy, insert_dt
		        from blog
		        order by insert_dt desc)
		    where rownum &lt;= #{pageNo} * #{amount}
		)
		where rn &gt; (#{pageNo} - 1) * #{amount}
	</select>
	
	<select id="selectOne" parameterType="int" resultType="blog">
		select blog_seq, title, blog_bdy, insert_dt
		from blog
		where blog_seq = #{blog_seq}
	</select>
	
	<insert id="insert" parameterType="blog">
		<selectKey keyProperty="blogSeq" resultType="int" order="BEFORE">
			select seq_blog.nextval from dual
		</selectKey>
		insert into blog
		(blog_seq, title, blog_bdy)
		values
		(#{blogSeq}, #{title}, #{blogBdy})
	</insert>
	
	<update id="update" parameterType="blog">
		update blog
		set 
			title = #{title},
			blog_bdy = #{blogBdy}
		where blog_seq = #{blogSeq}
	
	</update>
	
	<delete id="delete" parameterType="int">
		delete from blog
		where blog_seq = #{blogSeq}
	</delete>
</mapper>







