<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
	    <!-- first_name ==> firstName -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.oraclejava.model.Employee" alias="employee"/>
		<typeAlias type="com.oraclejava.model.Blog" alias="blog"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mybatis/EmployeeMapper.xml"/>
		<mapper resource="/mybatis/BlogMapper.xml"/>
	</mappers>
</configuration>